.page-title {
  text-align: center;
}
.page-description {
  border: 1px solid #000;
  margin: 2px;
  text-align: center;
  padding: 30px;
}
body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 100000;
	text-align: left;
	width: 100%;
	background: #20B2AA; 


}
