.page-title {
  text-align: center;
}
.page-description {
  border: 7px solid #000;
  margin: 2px;
  text-align: center;
  padding: 90px;
}
body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 10000;
	text-align: left;
	width: 100%;
}
