.page-title {
  text-align: center;
}
.page-description {
  border: 1px DeepSkyBlue;
  margin: 2px;
  text-align: center;
  padding: 30px;
}
body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: left;
	width: 100%;
}
